button {
  display: block;
  width:100px;
  margin:10px auto;
  padding:7px 13px;
  text-align:center;
  background:rgb(51,151,218);
  border-radius: 11px;
  font-size:20px;
  font-family: 'Arial', sans-serif;
  color:#ffffff;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 4px 4px -2px rgb(35,107,154);

}

button:active {
  vertical-align: top;
  padding-top: 8px;
  box-shadow: 0 1px 2px -2px rgb(35,107,154);
}
button:focus {outline:0;}
h1{text-align: center;}